:root{
    --input-bg: #f7f7f7;
    --text-color: #939393;
}


input[type=email]{
    background: var(--input-bg) !important;
    border-radius: none !important;
    color: var(--text-color);

}
input[type=email]:focus{
    box-shadow: none;
}